.simulator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 25px 0 25px;
}

.simulator-title {
    grid-column: span 2;
}

.section {
    border: 1px solid black;
}

.income, .indexing {
    width: 90%;
}

.income-top, .indexing-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
}

.actions button {
    margin-top: 25px;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 8px;
    width: 49%;
}

#simulate-action {
    background-color: #ED8E53;
    border: none;
}