.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.components {
    display: grid;
    grid-template-columns: 0.7fr 1fr;    
    grid-template-rows: 85vh;
}

@media screen and (max-width: 820px) {
    .components {
        display: flex;
        flex-direction: column;
    }
}