.results {
    padding: 0 15px 30px 10px;
}

.results-title {
    padding-bottom: 15px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.board h5 {
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    background-color: #fff;
    height: 80%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card h5 {
    font-weight: bold;
}